<!doctype html>
<title>{% block title %}Welcome{% endblock %} | MinImgur</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div id="page">

  <div id="navigation">
  {% if g.user %}
    <a href="{{ url_for('logout') }}">Logout</a>
  {% else %}
    <a href="{{ url_for('index') }}">Main feed</a> | 
    <a href="{{ url_for('login') }}">Login</a>
  {% endif %}
  </div>
  
  <div class="body">
  {% block body %}{% endblock %}
  </div>
  
  <div class="footer">
    MinImgur &mdash; A Flask Application
  </div>
</div>